############################
#### Node.js - Settings ####
############################
NODE_ENV="development"

#########################
#### Nova - CLI Logs ####
#########################
LOG_LEVEL="info"
LOG_TIME="false"

#############################
#### Project - Variables ####
#############################
CLOUDFLARE_API_TOKEN=""
